@page "/manager"
@inherits ServerManagerBase

<h3>Channels Server Manager</h3>

<button style="background-color: blue;" class="btn btn-primary" @onclick="InitChannelsState"> Plugins state </button>
<p>@PluginsState</p>

<br/>
<br/>


<h4> Handlers </h4>
<br>

<table class="table" style="border:1px solid black;">
    <thead>
        <tr>
            <th>
                Handler Id
            </th>
            <th>
                Handler Url
            </th>
            <th>
                Handler State
            </th>
            <th>
                Protected handler
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var handler in Handlers)
        {
        <tr>
            <td>
                @handler.HandlerId
            </td>
            <td>
                @handler.Url
            </td>
            <td>
                @handler.State
            </td>
            <td>
                @handler.Protected
            </td>
        </tr>
        }
    </tbody>
</table>