@page
@model ASP.NET.Core.Nuclear.Channels.TemplateWeb.Pages.ChannelDocumentationModel
@{
    ViewData["Title"] = "ChannelDocumentation";
}
<h2>Documentation of the available channels</h2>

@foreach (var document in Model.Documents)
{
    <br />
    <h3>Channel Name : @document.Name </h3>
    <br />
    <h4>Channel URL : @document.URL</h4>
    <br />
    <h4>Description : @document.Description</h4>
    <br />
    <hr />
    <h3>Endpoints : </h3>
    foreach (var method in document.AvailableEndpoints)
    {
        <h3>Method URL : @method.URL </h3>
        <p>Description : @method.Description </p>
        <p>Authentication : @method.AuthSchema.ToString()</p>
        <p>Http Method : @method.HttpMethod</p>
        for (int i = 0; i < method.InputParameterTypes.Count(); i++)
        {
            <p>Parameter :(@method.InputParameterTypes[i]) @method.InputParameters[i]</p>
        }

        <p>Return Type : @method.ReturnTypeName</p>
        <hr />
    }
}